{# https://drupal.stackexchange.com/questions/192498/how-do-i-translate-strings-in-twig-templates #}
{# Available variables:
  user_name
  markets_list
  number_of_new
  number_of_all
  search_name
  new_results
  all_results
  this_is_last_message
#}
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<p style="font-size: large;">Hello, {{ user_name }}! You received this email because you subscribed to receive updates on your search
  <strong>"{{ search_name }}"</strong>.</p>

{% if this_is_last_message == true %}
  <p style="font-size: large; color:red;"><i>Please note, this is the last message in your current subscription. If you are still interested in tracking
      results of your saved search, please renew subscription by visiting <a href="http://sherlock-ua.bid/fm-scan">sherlock-ua.bid/fm-scan</a>.</i></p>
{% endif %}

<p style="font-size: large;">
  We just checked the flea markets you are interested in:
  {% for name, results in all_results %}
    <b>{{ name }}</b>,
  {% endfor %}
  and that’s what we managed to find:
</p>

<h2>New results ({{ number_of_new }}):</h2>

{% for name, result_set in new_results %}
  <h1>{{ name }} ({{ result_set|length }}):</h1>

  {# Usually, number of items is not int-devides by 4. So we should calculate how many empty table cells (<td>) append after last not-empty <td>, to have valid HTML #}
  {% set complementary_cells_num = (4 - (result_set|length)%4) %}

  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      {% for result in result_set %}
      <td style="background-color:#EEEEEE; text-align:center" bgcolor="#EEEEEE">
        <a href="{{ result.link }}"><img src="{{ result.thumbnail }}" width="160" alt="{{ result.title }}"></a>
        <p style="font-size: large;"><a href="{{ result.link }}">{{ result.title|slice(0, 36)|nl2br }}</a></p>
        <p style="font-size: x-large;">{{ result.price_value }} {{ result.price_currency }}</p>
      </td>

      {# If end of row detected -> close current row and begin new #}
      {% if (loop.index)%4 == 0 %}
    </tr>
    <tr>
      {% endif %}
      {% endfor %}

      {% for i in 1..complementary_cells_num %}
        <td>
          {# Here is just empty cell(s) #}
        </td>
      {% endfor %}
    </tr>
  </table>
{% endfor %}

<h2>All results ({{ number_of_all }}):</h2>
<ul style="list-style: none;">
  {% for name, result_set in all_results %}
    <li><h1>{{ name }} ({{ result_set|length }}):</h1>
      {% if result_set|length == 0 %}
        <p style="font-size: large;">No results for this market.</p>
      {% endif %}
      <ul>
        {% for result in result_set %}
          <li style="font-size: large;"><a href="{{ result.link }}">{{ result.title }}</a>, {{ result.price_value }} {{ result.price_currency }}
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
</body>
</html>
